body::before{
    display:block;
    content:'';
    height:60px;
}

.header-logo {
    width:10%;
    height:10%;
}

/* carousel imgs same size */
#carousel-imgs {
    height: 400px;
    width: 800px;
    /* max-height: 400px;
    max-width: 100%; */
    object-fit: fill;
}

#card-one {
    height: 100%;
}

@media(min-width:768px){
    .news-input {
        width:50%;
    }
}